// Place all the styles related to the Testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #bbb2a4;
$secondary-color: #193876;
$white: #ffffff;
@mixin letter-spacing{
  letter-spacing: 0.2rem
}
$dark-blue: #021c4f;

.header{
  background: rgba(255, 255, 255, 0.9);
  position: relative;
}
.short-hero{
  min-height: 140px;
  background-size: cover;
    margin-top: 20px;
}

#home{
  .main-nav .first .home a{
    padding-bottom: 1rem;
    border-bottom: 3px solid $primary-color;
  }
}
#about{
  .main-nav .first .about a{
    padding-bottom: 1rem;
    border-bottom: 3px solid $primary-color;
  }
  .short-hero{
    background: url(../images/about-hero.jpg) no-repeat center center;
    background-size: cover;
  }
}
#testimonials{
  .main-nav .first .testimonials a{
    padding-bottom: 1rem;
    border-bottom: 3px solid $primary-color;
  }
  .short-hero{
    background: url(../images/testimonials-hero.jpg) no-repeat center center;
    background-size: cover;
  }
}
#services{
  .main-nav .second .services a{
    padding-bottom: 1rem;
    border-bottom: 3px solid $primary-color;
  }
  .short-hero{
    background: url(../images/services-hero.jpg) no-repeat center center;
    background-size: cover;
  }
}
#gallery{
  .main-nav .second .gallery a{
    padding-bottom: 1rem;
    border-bottom: 3px solid $primary-color;
  }
  .short-hero{
    background: url(../images/services-hero.jpg) no-repeat center center;
    background-size: cover;
  }
}
#contact{
  .main-nav .second .contact a{
    padding-bottom: 1rem;
    border-bottom: 3px solid $primary-color;
  }
  .short-hero{
    background: url(../images/contact-hero.png) no-repeat center center;
    background-size: cover;
  }
}
#contact_form{
  textarea{
    min-height: 150px;
  }
  input[type="text"],
  textarea{
    padding: 1rem 0.5rem;
    height: auto;
  }
  select{
    padding: 1rem 0.5rem;
    height: auto;
  }
}
.main-nav{
  min-height: 140px;
  ul{
    list-style-type: none;
    margin: 0;
    margin-top: 5rem;
    a:hover{
      padding-bottom: 1rem;
      border-bottom: 3px solid $primary-color;
    }
    &.left{
      li{
        float: left;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.2rem;
        &:nth-child(2){
          padding: 0 3rem;
        }
        &:nth-child(3){
          padding-right: 2.2rem;
        }
      }
    }
    &.right.second{
     li{
       @include letter-spacing;
       float:left;
       text-transform: uppercase;
       font-weight: 500;
       &:nth-child(2){
         padding: 0 3rem;
       }
     }
    }
  }
  img{
    margin: 30px auto;
    text-align: center;
    display: block;
  }
}

.tall-hero{
  background: url(../images/home-hero.jpg) no-repeat top center;
  background-size: cover;
  min-height: 688px;
  margin-top: -145px;
  .button{
    margin-top: -60px;
  }
}
h1{
  font-size: 3rem;
  color: $white;
  &.home{
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.1rem;
  }
}
h4{
  @include letter-spacing;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 200;
}
h2,
h3,
h5{
  font-weight: 500;
}
p, li{
  font-weight: 200;
}
.button{
  @include letter-spacing;
}
.header-bg{
  padding: 20px 40px;
  &.home{
    margin-top: 360px;
    strong{
      font-weight: 200;
    }
  }
}
.top-bar .name h1 a{
  padding: 0.5rem 0.9375rem;
}
.featured-box{
  max-width: 100%;
  border: 3px solid $primary-color;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 2% 0;
}
.featured-img{
  max-width: 96%;
}
.quad{
  margin-bottom: 6px;
}
.beige-bg{
  background: rgba(187,178,164, 0.9);
}
.dark-beige-bg{
  background: #777064;
}
.blue-bg{
  background: $secondary-color;
}
.dark-blue-bg{
  background: url(../images/patio-bg.jpg) no-repeat top center;
  background-size: cover;
  min-height: 360px;
}
.dark-blue-bg-color{
  background: #021c4f;
  min-height: 360px;
}
.blue-text{
  color: $secondary-color;
}
.white-text{
  color: $white;
}
.hint{
  font-size: 0.875rem;
  font-style: italic;
}
.button{
  text-transform: uppercase;
}
.bordered{
  padding: 10px;
  border: 3px solid $primary-color;
}
.double-spaced{
  padding: 40px 0;
}
.whitespace{
  padding-top: 80px;
  padding-bottom: 80px;
}
.no-bullets{
  list-style-type:none;
  margin: 0;
}
.quote-box{
  background: $white;
  padding: 20px;
}
.arrow-down{
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 20px solid #ffffff;
  margin: 0 auto;
}
.underline{
  text-decoration: underline;
}
.errors{
  color: #f26c4f;
}
.success{
  color: #99cc66;
}
.tabs{
  display: table;
  margin: 0 auto;
}
input[type="text"]::-ms-input-placeholder {
   color: #dddddd;
}
footer{
  color: $white;
  background: #777064;
  h5{
   @include letter-spacing;
   color: #bbb2a4;
   text-transform: uppercase;
   font-size: 1rem;
  }
  a{
    color: $white;
  }
}
/* ==================== 5. Padding ==================== */
$base-margin: 5px;
$base-padding: 5px;
.p1{
  padding: $base-padding*4;
}

.pt1 {
  padding-top: $base-margin*4 !important;
}

.pr1 {
  padding-right: $base-margin*4 !important;
}

.pb1 {
  padding-bottom: $base-margin*4 !important;
}

.pl1 {
  padding-left: $base-margin*4 !important;
}

.p0{
  padding: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pb0 {
  padding-bottom :0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.bb0{
  border-bottom: 0px !important;
}

/* ==================== 4. Margins ==================== */
.m1{
  margin: $base-margin*4 !important;
}

.mt1{
  margin-top: $base-margin*4 !important;
}

.mr1{
  margin-right: $base-margin*4 !important;
}

.mb1{
  margin-bottom: $base-margin*4 !important;
}

.ml1{
  margin-left: $base-margin*4 !important;
}

.m0{
  margin: 0 !important;
}

.mt0{
  margin-top: 0 !important;
}

.mr0{
  margin-right: 0px !important;
}

.mb0{
  margin-bottom: 0 !important;
}

.ml0{
  margin-left: 0px !important;
}


@media only screen and (min-width: 40em) {

  .logo-wrapper {
    position: relative;
  }

  .logo-wrapper .logo {
    width: 92px;
    height:  92px;
    position: absolute;
    left: 50%;
    right: 50%;
    top: -2px;
    margin-left: -46px;
  }

  // Right part
  .top-bar-section ul.right {
    width: 50%;
    padding-left: 60px;
  }

  .top-bar-section ul.right li {
    float:  left;
  }

  // Left part
  .top-bar-section ul.left {
    width:  50%;
    padding-right: 60px;
  }

  .top-bar-section ul.left li {
    float:  right;
  }
}

@media only screen and (max-width: 40em) {
  .whitespace{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .logo{
    padding-top: 1rem;
  }
  .top-bar-section ul li {
    border-bottom: 2px solid lighten(#777064, 35%);
  }
  .top-bar-section ul li.home {
    border-top: 2px solid lighten(#777064, 35%);
  }
  .tall-hero h1{
    font-size: 1.5rem;
  }
  .tall-hero{
    min-height: 400px;
    margin-top: 0;
  }
  .header-bg.home{
    margin-top: 200px;
  }
  h1.home{
    font-weight: 200;
  }
  h1{
    font-size: 2rem;
  }
  .tabs > li{
    width: 100%;
  }
}

@media only screen and (max-width: 1180px){
  .top-bar,
  .title-area{
    height: 70px;
  }
}
